body {
    font-family:monospace;
    text-align: center;
    margin: 0;
    padding: 0;

}
h1 {
    font-size: 50px;
    margin-top: 20px;
    color: #833704;
}
h2 {
    font-size: 30px;
    color: #429d7f;
}
h3 {
    font-size: 20px;
    color: #43c59a;
}
.gcs {
    font-size: 20px;
    color: #a27f01;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.button-container a {
    display: block;
    margin: 10px 0;
    padding: 15px 30px;
    text-decoration: none;
    color: white;
    background-color: #833704;
    border-radius: 5px;
    font-size: 30px;
    width: 400px;
    text-align: center;
}
.button-container a:hover {
    background-color: #43c59a;
}